@import url("https://fonts.googleapis.com/css2?family=Inter&family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&family=Playfair+Display:wght@500;600&display=swap");
@import url("https://fonts.cdnfonts.com/css/helvetica-neue-9");

.swiper-slide-testimoni {
  font-size: 18px;
  background: transparent !important;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.instructorMain {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-family: "Playfair Display", serif;
}

.helvetica {
  font-family: "Helvetica Neue", "Helvetica", "sans-serif";
}

.helvetica-bold {
  font-family: "Helvetica Neue", "Helvetica", "sans-serif";
  font-weight: 700;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
